In [1]:
import numpy as np
import statistics as st
import pandas as pd

In [2]:
# importing the dataset
df = pd.read_csv('Yield_vs_Temperature.csv')
df

    Observation Number  Temperature (Xi)  Yield (Yi)
0                    1                50         122
1                    2                53         118
2                    3                54         128
3                    4                55         121
4                    5                56         125
5                    6                59         136
6                    7                62         144
7                    8                65         142
8                    9                67         149
9                   10                71         161
10                  11                72         167
11                  12                74         168
12                  13                75         162
13                  14                76         171
14                  15                79         175
15                  16                80         182
16                  17                82         180
17                  18                85         183
18                  19                87         188
19                  20                90         200
20                  21                93         194
21                  22                94         206
22                  23                95         207
23                  24                97         210
24                  25               100         219

In [3]:
# finding mean
df['Temperature (Xi)'].mean()

74.84

In [4]:
# finding median
df['Temperature (Xi)'].median()

75.0

In [5]:
# finding mode
st.mode(df['Temperature (Xi)'])

50